<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- Ao implantar o projeto de biblioteca de serviço, o conteúdo do arquivo de configuração deve ser adicionado ao arquivo de app.config 
 do host. O System.Configuration não oferece suporte a arquivos de configuração para bibliotecas. -->
  <connectionStrings>
    <!--<add name="ControleAcessoElevador" connectionString="Data Source = BRUNA\SQLEXPRESS;Initial Catalog = ControleAcessoElevador; Integrated Security = True" />-->
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="DataStackService.DataStackService">
        <endpoint address="http://127.0.0.1:8733/DataStackService/" binding="webHttpBinding" contract="DataStackService.IDataStackService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>